p { font-size: x-large;
    color:rgb(72, 72, 173);
  }
  h1 {color: white ; margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
    text-align: center; }
ol {font-size: x-large; 
    color: rgb(0, 0, 0);}
   
img {
    display: block;
    margin: 0 auto;
    border-color:white;
    border-width: 1px;
    border-style: solid;
    width: 250px;
    height: 250px;
    
  }
h1:hover{color: black;
  text-shadow: 3px 3px 1px white ; transform: scale(1.1);}
html{background:  rgb(7,123,228);
  background: -moz-linear-gradient(0deg, rgba(7,123,228,1) 0%, rgba(255,128,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(7,123,228,1) 0%, rgba(255,128,0,1) 100%);
  background: linear-gradient(0deg, rgba(7,123,228,1) 0%, rgba(255,128,0,1) 100%);
  ;}



.img {
  float: left;
  width: 50%;
  padding: 4px;
}

.pics::after {
  content: "";
  clear: both;
  display: table;
}